<!--src/app/features/project-dashboard/graph-view/graph-context-menu/graph-context-menu.component.html-->


<!-- graph-context-menu.component.html -->
<!-- graph-context-menu.component.html -->
<div class="absolute bg-white shadow-md rounded-md" [ngStyle]="{'top.px': position.y, 'left.px': position.x}" *ngIf="isVisible">
  <ul class="flex flex-col">
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer" (click)="selectAction('addNode')">Add Node</li>
    <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer" (click)="selectAction('editNode')">Edit Node</li>
    <!-- Add more options as needed -->
  </ul>
</div>
