/* graph-view.component.css */

/*.graph-container {*/
/*  border-radius: 12px; !* Rounded corners for the box *!*/
/*  width: 50vw; !* Adjust width as needed, 50vw for half of the viewport width *!*/
/*  height: 80vh; !* Adjust height as needed, 80vh for 80% of the viewport height *!*/
/*  position: fixed; !* Fixed position relative to the viewport *!*/
/*  top: 10vh; !* Adjust the top position to vertically center or align as needed *!*/
/*  right: 0;*/
/*  overflow: hidden;*/
/*  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); !* Subtle shadow *!*/
/*  background: linear-gradient(145deg, #6ee7b7, #102446); !* Updated gradient for cohesive design *!*/
/*  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; !* Smooth transition for transformation and shadow *!*/
/*}*/

.graph-container {
  border-radius: 0; /* For fullscreen, you may not need pronounced rounded corners */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  position: fixed; /* Use fixed to cover the entire screen */
  top: 0;
  left: 0;
  overflow: hidden;
  box-shadow: none; /* Optional: Remove shadow for fullscreen or adjust as needed */
  background: linear-gradient(145deg, #6ee7b7, #102446); /* Updated gradient for cohesive design */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for gradient opacity */
}

/*.graph-container::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  top: 0; right: 0; bottom: 0; left: 0;*/
/*  border-radius: 12px; !* Match the container's border-radius *!*/
/*  !*background: linear-gradient(145deg, #6ee7b7, #3b82f6); !* Example gradient from green to blue *!*!*/
/*  background: linear-gradient(145deg, #6ee7b7, #102446); !* Example gradient from green to blue *!*/

/*  z-index: 0;*/
/*  transition: opacity 0.3s ease-in-out; !* Smooth transition for gradient opacity *!*/
/*  opacity: 1; !* Hide gradient by default *!*/
/*}*/

/*.graph-container:hover::before {*/
/*  opacity: 1; !* Show gradient on hover *!*/
/*}*/

/*.graph-container:hover {*/
/*  transform: translateY(-5px); !* Slight lift effect *!*/
/*  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); !* More pronounced shadow on hover *!*/
/*}*/

/* Additional styles to ensure content inside .graph-container is above the pseudo-element */
/*.graph-container * {*/
/*  position: relative;*/
/*  z-index: 1;*/
/*}*/
