<div class="projects-container p-4">
  <!-- Create New Project Card -->
  <div class="project-card bg-white rounded-lg overflow-hidden shadow-lg m-2 hover:shadow-2xl transition-shadow duration-300 ease-in-out cursor-pointer"
       (click)="onCreateNewProject()">
    <div class="p-4">
      <h3 class="font-bold text-xl mb-2">Create New Project</h3>
      <p class="text-gray-700 text-base">Click to create a new project</p>
    </div>
  </div>

  <!-- Project Cards -->
  <div *ngFor="let project of projects" class="project-card bg-white rounded-lg overflow-hidden shadow-lg m-2 hover:shadow-2xl transition-shadow duration-300 ease-in-out cursor-pointer"
       (click)="onSelectProject(project.projectNodeId)">
    <div class="p-4">
      <h3 class="font-bold text-xl mb-2">{{ project.name }}</h3>
      <p class="text-gray-700 text-base">{{ project.description }}</p>
    </div>
  </div>
</div>
