<div class="chat-container z-10" #chatContainer>
  <!-- Draggable header -->
  <div class="chat-header" (mousedown)="startDrag($event)"><mat-icon>drag_handle</mat-icon></div>  <!-- Resize handles -->
  <div class="resize-handle" (mousedown)="startResize($event, 'bottom-right')"></div>
  <div class="resize-handle-top" (mousedown)="startResize($event, 'top')"></div>
  <div class="resize-handle-left" (mousedown)="startResize($event, 'left')"></div>
<!--  <button class="settings-btn" (click)="toggleSettings()">Settings</button>-->
  <button mat-fab extended (click)="toggleSettings()">
    <mat-icon>settings</mat-icon>
  </button>
  <!-- Message area and input -->

  <div class="messages flex-grow overflow-y-auto p-2" #scrollMe>
    <ng-container *ngFor="let message of chatMessages; let i = index">
      <div *ngIf="(i !== 1 || message.role !== 'assistant') && message.role === 'assistant'" class="message mb-4 p-2 bg-indigo-100 rounded-md shadow">
        {{ message.content }}
      </div>
      <div *ngIf="message.role === 'user'" class="message mb-4 p-2 bg-blue-100 rounded-md shadow">
        {{ message.content }}
      </div>
    </ng-container>
    <div *ngIf="isLoading" class="loading text-center p-2">Loading...</div>
  </div>
  <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." class="chat-input">
</div>
<div #dynamicInsertionPoint></div>
<app-chat-settings [isVisible]="isSettingsVisible" (settingsChanged)="updateSettings($event)"></app-chat-settings>
